{% extends "skeleton.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/content.css" rel="stylesheet">
    <link href="/static/instruction.css" rel="stylesheet">
    <link href="/static/input-level1.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>
                    Level 1
                </h2>
                <div class="sub-header s-header-inst"></div>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="centered">
                    <a href="/instruction" role="button" class="btn btn-primary btn-lg btn-int" id="instr-button">Zurück</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>
                    Finde die grösse Aussichtsfläche
                </h3>
                <div class="sub-header s-header-inst"></div>
            </div>        
        </div>
        <div class="row">
            <div class="col-md-9">
                <h4>
                    Aufgabenstellung:
                </h4>
                <p>
                    Finde in der Schweizer den Standort, der eine möglichst grossen Aussichtsfläche im Umkreis von 15km bietet. Gehe dazu auf <a href="http://tests.christiansailer.ch/games/vista/">diese URL.</a>
                </p>
                <p>
                    Findet in der Schweiz einen Standort mit einem Durchmesser von 15 km, welcher eine möglichst grosse Aussichtsfläche bietet.
                    1. Geht auf diese Seite.
                    2. Meldet euch mit den gegebenen Login-Daten an.
                    3. Startet euren durchlauf. Ihr habt 300 Sekunden Zeit. Klickt auf die Karte um einen Punkt festzulegen. Der besste Punkt zählt.
                    4. Seht euch an wie gut ihr abgeschnitten habt.
                </p>
            </div>
        </div>

        <div class="row" id="invisible-row">
            <div id="result"></div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h4>
                    Bewertung:
                </h4>
                <p>
                    Fläche in Quadratkilometer gibt Punkte
                </p>
            </div>
        </div>
    </div>
    <div class="seps"></div>
{% endblock %}
